.container {
  padding: 5rem;
  width: 100%;
}

.aboutMePage {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  max-width: 1130px;
}

.aboutMePage h1{
  align-self: center;
}

.aboutMe {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.aboutMe img{
  height: 230px;
  width: 230px;
}

.about {
  max-width: 600px;
}

.skillsPage h1 { 
  font-size: 46px;
}

.skills {
  display: flex;
}

.skills p {
  display: flex;
  align-items: center;
  margin: 7px;
  padding: 8px 20px;
  background: linear-gradient(90deg, rgba(39,43,43,1) 0%, rgba(22,22,22,1) 100% );
  /* 90deg, rgba(22,22,22,1) 0%, rgba(72,26,105,1) 100%*/
}

.skills span {
  display: block;
  height: 7px;
  width: 7px;
  background: #fff;
  margin: 0 7px;
}